.boardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.boardContainerInactive {
  @extend .boardContainer;
  background-color: #f9f9f9;
  opacity: 0.8;
  cursor: not-allowed;
}

.icon {
  background-color: #c7dffb;
  border-radius: 50%;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardTitle {
	font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #333;
	letter-spacing: 1px;
  margin-bottom: 5px;
}

.boardDescription {
	font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #666;
}
