@import 'app/consts/variables';

.button{
	border: 2px solid var(--text-white);
	border-radius: 20px;
	background-color: transparent;
	padding: 0.5rem 1rem;
	font-size: var(--font-size-smaller);
	text-transform: uppercase;
	font-weight: var(--font-weight-bold);
	letter-spacing: 1px;
	color: var(--text-white);
	cursor: pointer;
}
