:root {
  /* Цвета */
  --text-primary: #03060C;
  --text-secondary: #2A4A6A;
  --text-tertiary: #133E87;
  --accent-primary: #7b9fc9;
  --accent-secondary: #468be0;
  --background: #F3F3E0;
  --text-white: #FFF;

  /* Вес шрифтов */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

  /* Размеры шрифтов */
  --font-size-smaller: 10px;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-large: 16px;
  --font-size-larger: 20px;
  --font-size-title: 22px;

  /* Межстрочные интервалы */
  --line-height-smaller: 14px;
  --line-height-small: 16px;
  --line-height-medium: 18px;
  --line-height-large: 21px;
  --line-height-title: 26px;

  /* Паддинги */
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  
  /* Размеры кнопок */
  --button-padding: 0.5rem 1rem;
  --button-font-size: 0.9rem;

  /* Настройки для мобильных устройств */
  --up-size: 0;
  --font-size-smaller: calc(10px + var(--up-size));
  --font-size-small: calc(12px + var(--up-size));
  --font-size-medium: calc(14px + var(--up-size));
  --font-size-large: calc(16px + var(--up-size));
  --font-size-title: calc(22px + var(--up-size) * 2);

  --line-height-smaller: calc(12px + var(--up-size));
  --line-height-small: calc(14px + var(--up-size));
  --line-height-medium: calc(16px + var(--up-size));
  --line-height-large: calc(18px + var(--up-size));
  --line-height-title: calc(24px + var(--up-size) * 2);
}

/* Настройки для планшетов */
@media (min-width: 600px) {
  :root {
    --up-size: 5px;
  }
}
