@import 'app/consts/variables';

.header {
	margin: 1rem;
	display: flex;
	padding: 1rem 3rem;
	border-radius: 2rem;
	justify-content: space-between;
	align-items: center;
	background-color: var(--accent-secondary);

	.logo {
		font-size: var(--font-size-large);
		font-weight: var(--font-weight-bold);
		text-decoration: none;
		color: var(--text-white);
		letter-spacing: 2px;
		transition: color 0.3s ease;
	}

	.nav {
		display: flex;
		flex-flow: row nowrap;
		gap: 3rem;

		.navItem {
			font-size: var(--font-size-smaller);
			color: var(--text-white);
			text-decoration: none;
			letter-spacing: 1px;
			text-transform: uppercase;
			padding: 0 10px;
			font-weight: var(--font-weight-bold);
			transition: all 0.3s ease-in-out;

			// &:hover {
      //   color: var(--text-tertiary);
			// 	transition: all 0.3s ease;
      // }
		}
	}

	.rightControls {
		display: flex;
		gap: 1rem;

		.button {
			padding: var(--button-padding);
			font-size: var(--button-font-size);
			border: none;
			border-radius: 4px;
			cursor: pointer;
			transition: background-color 0.3s ease, color 0.3s ease;

			&.languageToggle {
				background-color: var(--accent-primary);
				color: white;

				&:hover {
					background-color: var(--accent-secondary);
				}
			}

			&.loginButton {
				background-color: transparent;
				color: var(--accent-primary);
				border: 1px solid var(--accent-primary);

				&:hover {
					background-color: var(--accent-primary);
					color: white;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		padding: var(--padding-small);
	}

	.nav {
		flex-direction: column;
		gap: 1rem;
	}

	.rightControls {
		flex-direction: column;
		gap: 1rem;
	}
}
